@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
  }
}

@layer base {
    body {
      @apply text-base bg-primary-white text-primary-black
    } 

   
  }

@layer components {
  .product-overlay {
    @apply absolute inset-0 bg-gradient-to-t from-neutral-overlay group-hover:bg-neutral-overlay opacity-40 duration-300 rounded-lg
    
  }

  .divide-default {
    @apply divide-x divide-neutral-graylight
  }

  .border-default-color {
    @apply border-neutral-graylight
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }

  .badges-contact {
    @apply flex gap-4 items-center
  }

}



